node_modules/
.next/
out/
.env
.env.local
.env.*.local
*.tsbuildinfo
next-env.d.ts
data/cache/
demo/dist/
edge/bundle/*
!edge/bundle/page.html
!edge/bundle/app.js
!edge/bundle/app.css
!edge/bundle/index-remote.js
